[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
myst-parser = "*"
revitron-sphinx-theme = {git = "https://github.com/revitron/revitron-sphinx-theme.git"}
linkify-it-py = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
python_version = "3.11"
