[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = ">=6.0.0"
myst-parser = ">=4.0.0"
revitron-sphinx-theme = {file = "https://github.com/revitron/revitron-sphinx-theme/archive/master.zip"}
linkify-it-py = "*"

[dev-packages]
sphinx-autobuild = "*"

[requires]
python_version = "3.11"
